html, 

header{
    text-align: center;
    color: green;

}
h2 {
    background-color: blue;
    color: white;
}

main{
background-color: lightgrey;
margin: 0 auto;
padding: 1em;  
}

body{
    background-color: light gray;
    background-image: url("record.png");
    background-repeat: repeat;  
    margin: 0 auto;
    padding: 1em;
}

/*

Stylesheet:

Create a `stylesheet.css` file and source it into the HTML file.
Give the `header` a dark background color and choose a light  color for the text.
Center the text in the `header`.
Give the `main` a light grey background color.
Look up the CSS `background-image` property to learn how to use the provided `record.png` as the background image on your page with a relative path.
Look up CSS `background-repeat` to learn how to fill the body of the page with a repeating image.
Look up CSS `margin` and `padding`. 
Give the `body` a margin of `0`. (This removes the whitespace around the edges of the page.) 
Give the `main` padding of `1em`. (Curious about `em`? Look up CSS units.)

Here's an example of what the style could look like:
<img src="./example.png">
